<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Login</title>
<!--    <link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon'/>-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<!--    <link href="../resources/css/my_style.css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/homepage.css">
</head>
<body>
<%doc>
This is a Mako template. See https://docs.makotemplates.org/en/latest/
</%doc>


<div class="split left" style="background-color:purple;">
    <div class="text">
        <h1 class="display-3">Welcome to TagTeam!</h1><br>
        <h2 style="text-align:left; margin:100px; font-weight:lighter">
            <i class="fa fa-search-plus" style="font-size:28px"></i>
            Track progress of your work
        </h2>
        <h2 style="text-align:left; margin:100px; font-weight:lighter">
            <i class="fa fa-users" style="font-size:28px"></i>
            See what everyone else does
        </h2>
        <h2 style="text-align:left; margin:100px; font-weight:lighter">
            <i class="fa fa-envelope" style="font-size:28px"></i>
            Plan your work with others
        </h2>
    </div>
</div>
<div class="split right">
    % if failure:
    <div class="alert alert-danger" role="alert">
        Incorrect username or password
    </div>
    % endif

    <br><br><br><br><br><br><br><br>
    <form action="/login" method="POST">
        <div class="col-sm-8">
            <input class="form-control" id="log_username"  placeholder="Enter username" name="username">
        </div><br>
        <div class="col-sm-8">
            <input type="password" class="form-control" id="log_pswd" placeholder="Password" name="password">
            <small><a class="btn default" id="forgot_pswd" href="/">Forgot password?</a></small>
        </div>
        <div class="col-sm-8">
            <input type="submit" id="sign_in" type="submit" class="btn btn-primary btn-lg btn-block"  style="background-color:purple" value="Sign In">
        </div>
        <a href="/register">Don't have an account? Click here to create one</a>
        <br><br>
<!--        <div  class="col-sm-8">-->
<!--            <button  id="sign_up" type="submit" class="btn btn-primary btn-block" align="right" style="background-color:purple">Sign up</button>-->
<!--        </div>-->
    </form>
</div>
</body>

</html>
